body{
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightblue; /* for browsers which do not support gradients */
    background-image: linear-gradient(blue, orange);
}

header{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    padding: 2.5%;
}

span{
    position: absolute;
    font-size: 140%;
    top: 5%;
    left: 5%;
}

.center{
    display: flex;
    /* vertical-align: baseline; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.heading{
    /* color: whitesmoke; */
    padding: 5%;
}

/* styling for the side navigation panel */
.sideNav{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: darkgray; */
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 5%;
}

.sideNav .closebtn{
    position: absolute;
    top: 0%;
    right: 10%;
    font-size: 36px;
    color: black;
}

.sideNav .closebtn:hover{
    text-decoration: none;
}

.sideNav a{
    font-size: 110%;
    color: gold;
    text-decoration: none;
}

.sideNav a:hover{
    text-decoration: underline;
}

/* ICONS*/
.icon{
    padding-left: 5%;
    padding-right: 5%;
    color: black;
}

/* Hovering effect on icons */
.iconLinkedIn:hover{
    color: #0E76A8;
}
.iconGitHub:hover{
    color: white;
}
.iconTwitter:hover{
    color: #00ACEE;
}
