<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <!-- <script src="js/scriptfile.js"></script> adding java script at the end of body -->
        <!-- <link rel="stylesheet" href="css/stylefile.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/stylefile.css' %}">
        <script src="https://kit.fontawesome.com/2275a501b1.js" crossorigin="anonymous"></script>
        <title>Rishabh Kaushick</title>
    </head>

    <body>
        <span id="hamburger" style="cursor: pointer;" onclick="openSideNav()">&#9776;</span>
        <div id="mySideNav" class="sideNav">
            <nav>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
                <a href="#"><b>About Me!</b></a> <br/>
                <a href="#"><b>My Education</b></a>
                        <ul>
                            <li><a href="#"><b>College Projects</b></a></li>
                        </ul>
                <a href="#"><b>My Work Experience</b></a>
            </nav>
        </div>
        <header>
            <h1 class="heading center">Hello, I'm Rishabh!</h1>
            <p class="center">
                <nav>
                    <div class="center">
                        <a href="https://www.linkedin.com/in/rishabh-kaushick-13958417b/"> <i class="icon iconLinkedIn fa fa-linkedin"></i> </a>
                        <a href="https://github.com/rishabhkaushick"><i id="icon" class="icon iconGitHub fa fa-github"></i></a>
                        <a href="https://twitter.com/rkaushick"><i id="icon" class="icon iconTwitter fa fa-twitter"></i></a>
                    </div>
                </nav>
            </p>
        </header>
        <script type="text/javascript" src="{% static '/js/scriptfile.js' %}"></script>
    </body>
</html>